.wave-container {
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  background: white;
}

.wave-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(243, 232, 255, 1) 0%,
    rgba(245, 243, 255, 1) 50%,
    rgba(237, 233, 254, 1) 100%
  );
  background-size: 200% 200%;
  animation: wave 15s ease infinite;
  opacity: 0.7;
  z-index: 0;
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
